/* delius-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Delius';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/delius-v19-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  padding: 0;
  margin: 0;
  background: black;
}

.header {
  padding: 15px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unsplash__link {
  cursor: pointer;
}

.logo {
  width: 350px;
  height: 120px;
}

.unsplash {
  max-width: 110px;
  max-height: 110px;
  width: 100%;
}

.search {
  position: relative;
}

.input {
  width: 270px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  outline: none;
  font: 18px / 18px 'Delius';
  transition: 0.3s ease;

  &:focus {
    box-shadow: 0 0 10px 0.5px #FFF;
  }
}

.magnifier {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.reset {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  opacity: 0;
  transition: 0.3s ease;
  cursor: pointer;
}

.reset__active {
  opacity: 1;
}

hr {
  margin: 0 0 15px;
}

.gallery {
  padding: 0 10px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.gallery__img {
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 24px;
}

.column {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 24px;

  &:nth-child(odd) {
    margin-top: 50px;
  }
}

.footer {
  width: 100%;
  z-index: 2;
  background: black;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

.footer__item {
  margin: 0;
  font: 25px / 27px 'Delius';
  letter-spacing: 2px;

  color: #FFF;
}

.github {
  &:hover {
    font-weight: bold;
  }
}

.school__link {
  line-height: 0;
}

.footer__logo {
  width: 90px;
  height: 45px;
  margin: 10px 0;
  padding: 0 5px;
  background: hsla(0, 0, 100%, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 3px;
}