.about {
  position: relative;
  margin-bottom: 60px;

  .subtitle {
    margin: 0 0 20px;

    text-align: center;

    @include inter (20px, 400, 40px);
  }

  .slick-track {
    display: flex;
    gap: 25px;
  }

  .slick-list {
    margin-bottom: 29px;
    overflow: hidden;
  }

  .slick-slide {
    width: 100%;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
  }

  .slick-dots li {
    list-style: none;

    width: 26px;
    height: 26px;

    text-align: center;

    cursor: pointer;
  }

  .slick-dots button {
    font-size: 0;

    width: 16px;
    height: 16px;

    border-radius: 50%;
    border: none;

    background-color: $color-dark-blue;

    cursor: pointer;
  }

  .slick-dots li.slick-active button {
    background-color: $color-brown;
  }

  .prev {
    display: none;

    position: absolute;
    top: 60%;
    left: 80px;

    width: 25px;
    height: 25px;

    background-image: url(./common/img/svg/Arrow.svg);
    background-repeat: no-repeat;
  }

  .next {
    display: none;

    position: absolute;
    top: 60%;
    right: 80px;

    width: 25px;
    height: 25px;

    background-image: url(./common/img/svg/Arrow.svg);
    background-repeat: no-repeat;

    transform: rotate(180deg);
  }
}