.about {
  position: relative;
  margin-bottom: 60px;

  .subtitle {
    margin: 0 0 20px;

    text-align: center;

    @include inter (20px, 400, 40px);
  }

  .slider {
    margin: auto;

    max-width: 1400px;
    width: 100%;
    overflow: hidden;

    margin-bottom: 40px;
  }

  .slider__track {
    display: flex;
    gap: 25px;
    width: fit-content;

    transition: 0.3s ease;
  }

  .slider__buttons {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .slider__button {
    position: relative;
    width: 26px;
    height: 26px;

    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 16px;
      height: 16px;

      border-radius: 50%;
      border: none;

      background-color: $color-dark-blue;
    }
  }

  .button__active {
    &:after {
      background-color: $color-brown;
      cursor: auto;
    }
  }

  .prev,
  .next {
    display: none;

    position: absolute;
    top: 61%;

    width: 25px;
    height: 25px;

    background-image: url(./common/img/svg/Arrow.svg);
    background-repeat: no-repeat;

    cursor: pointer;
  }

  .next {
    transform: rotate(180deg);
    right: 77px;
  }

  .prev {
    left: 77px;
  }

  .arrow__disabled {
    opacity: 0.5;
    cursor: auto;
  }
}