.burger {
  display: none;
  position: absolute;
  top: 12px;
  right: 0;

  width: 45px;
  height: 22px;

  cursor: pointer;
}

.burger__logo {
  position: absolute;
  top: 0;
  right: 0;
}

.burger__close {
  position: fixed;
  top: 30px;
  right: 23px;

  width: 32px;
  height: 32px;

  transform: translateX(300%);
  transition: 0.3s ease;

  cursor: pointer;

  z-index: 4;
}

.burger__close_active {
  transform: translateX(0);
}