.contacts {
  margin-bottom: 60px;

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .subtitle {
    margin: 0 0 20px;

    @include inter (20px, 700, 40px);
    letter-spacing: 2px;

    &:first-child {
      margin-bottom: 40px;
    }
  }

  .number {
    margin: 0 0 20px;

    @include inter (20px, 400, 40px);
    letter-spacing: 2px;

    &:nth-child(4) {
      margin-bottom: 40px;
    }
  }

  .email {
    font-weight: 700;
  }
}