a {
  text-decoration: none;
  color: $color-black;
}

.header {
  padding: 20px 0;

  background-color: $color-dark-blue;

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name {
    margin: 0;
  }

  .left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .link {
    @include forum (30px, 400, 50px);

    color: $color-white;
    letter-spacing: 0.6px;

    cursor: pointer;
  }

  .list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
    gap: 30px;
  }

  .item {
    &:last-child {
      margin-right: 40px;
    }
  }

  .item__link {
    @include inter (20px, 400, 50px);

    color: $color-white;

    transition: 0.3s ease;

    &:hover {
      color: $color-grey;
    }
  }

  .profile__logo {
    background-image: url("./common/img/svg/icon_profile.svg");
    background-size: 30px 28px;
    background-repeat: no-repeat;

    width: 31px;
    height: 28px;


    background-color: transparent;

    border: none;

    cursor: pointer;
  }

  .profile__logo__name {
    background-color: $color-white;
    border-radius: 50%;

    width: 30px;
    padding: 4px;

    color: $color-brown;
    @include inter (15px, 400, 20px);
  }
}