.libraryCard {
  margin-bottom: 39px;

  .card__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .sibtitle {
    margin: 0 0 30px;

    text-align: center;

    @include inter (30px, 400, 36px);
    letter-spacing: 0.6px;
  }

  .form {
    display: flex;
    flex-direction: column;

    max-width: 600px;

    padding: 17px 17px 27px;
    margin-right: 10px;
    box-sizing: border-box;

    border: 3px solid $color-brown;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include forum (30px, 400, 50px);
    letter-spacing: 0.6px;

    .button {
      align-self: center;

      padding: 9px 39px;

      @include inter (20px, 700, 24px);
      letter-spacing: 1px;
    }
  }

  .info {
    padding: 20px 20px 25px;
    margin-bottom: 20px;

    background-color: $color-brown;
  }

  .library {
    margin: 0 0 20px;
  }

  .input {
    width: 100%;
    height: 66px;

    box-sizing: border-box;

    padding: 8px 20px;
    margin-bottom: 25px;

    border-radius: 10px;
    border: none;

    outline: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .get {
    text-align: right;

    .button {
      padding: 9px 0;
      width: 75px;

      &:first-child {
        margin-right: 14px;
      }
    }
  }

  .get__sibtitle {
    margin: 0 0 35px;

    @include forum (30px, 400, 36px);
    letter-spacing: 0.6px;
  }

  .get__info {
    margin: 0 0 32px;

    max-width: 456px;
    @include inter (20px, 400, 40px);
    letter-spacing: 0.4px;
  }
}

.after {
  display: none;

  .input::placeholder {
    color: $color-brown;
  }

  .items {
    display: flex;
    justify-content: center;
    gap: 35px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name,
  .count {
    margin: 0;

    @include inter (10px, 400, 20px);
    letter-spacing: 0.2px;
  }
}