.login__modal,
.register__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(300%);

  padding: 20px 25px;
  box-sizing: border-box;

  background-color: $color-white;

  z-index: 3;

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .regist__label,
  .login__label {
    position: relative;
  }

  .login__title {
    margin: 0 0 20px;

    text-align: center;

    @include forum (20px, 400, 20px);
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }

  .input {
    margin-bottom: 10px;
    height: 20px;

    box-sizing: border-box;

    background-color: $color-white;
    border: 1px solid $color-brown;

    outline: none;
  }

  .input__invalid {
    border: 1px solid red;
  }

  .name {
    display: block;
    margin: 0 0 10px;

    @include inter (15px, 400, 20px);
    letter-spacing: 0.3px;
  }

  .password {
    margin-bottom: 20px;
  }

  .button {
    display: block;

    margin-bottom: 10px;
    padding: 8px 20px;
  }

  .account {
    display: flex;
  }

  .have__account {
    margin-right: 10px;

    @include inter (10px, 400, 12px);
  }

  .link {
    @include inter (10px, 700, 13px);
    letter-spacing: 1px;
    border-bottom: 1px solid $color-dark-blue;
    cursor: pointer;
  }

  .eye {
    position: absolute;
    bottom: -2px;
    right: 5px;

    width: 20px;
    height: 20px;

    cursor: pointer;
  }
}

.modal__active {
  transform: translate(-50%, -50%);
}