@media screen and (max-width: 1230px) {
  .favorites {
    .winter {
      display: block;
    }

    .card {
      margin: auto;

      &:nth-child(2) {
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .burger {
    display: block;

    z-index: 1;
  }

  .nav {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;

    padding: 100px 107px;

    text-align: center;

    background-color: $color-black;

    transform: translateX(100%);
    transition: 0.3s ease;

    z-index: 2;
  }

  .nav__active {
    transform: translateX(0);
  }

  .header {
    .profile__logo {
      margin-right: 85px;
    }

    .logo__burger {
      margin-right: 94px;
    }

    .list {
      flex-direction: column;
    }

    .item {
      &:last-child {
        margin: 0;
      }
    }
  }

  .about {
    .slick-list {
      margin-bottom: 12px;
    }
  }

  .coffeShop {
    .left__container {
      margin-bottom: 40px;
    }

    .menu {
      display: block;
    }

    .right__container {
      margin-left: auto;
    }
  }

  .contacts {
    .contacts__wrapper {
      display: block;
    }

    .number {
      &:last-child {
        margin-bottom: 100px;
      }
    }

    .map {
      text-align: center;
    }

    .map iframe {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .libraryCard {
    .card__wrapper {
      display: block;
    }

    .find {
      margin-bottom: 21px;
    }

    .form {
      margin: auto;
    }

    .get {
      text-align: center;
    }

    .get__sibtitle {
      margin-bottom: 40px;
    }

    .get__info {
      max-width: 600px;
      margin: auto;
      margin-bottom: 35px;
    }
  }

  .footer {
    .footer__wrapper {
      padding-bottom: 30px;
    }

    .school {
      margin: 0 55px 0 0;
    }
  }

}

@media screen and (max-width: 769px) {
  .about {
    .slider {
      text-align: center;
    }

    .slick-track {
      gap: 0;
    }

    .pic {
      margin: auto;
      max-width: 450px !important;
    }

    .prev,
    .next {
      display: block;
    }
  }

  .favorites {
    .card {
      margin-left: 67px;
    }
  }
}

@media screen and (max-width: 736px) {
  .favorites {
    .label {
      margin-right: 40px;
    }
  }

  .footer {
    .footer__item {
      font-size: 18px;
    }
  }

  .about {
    .prev {
      left: 40px;
    }

    .next {
      right: 45px;
    }
  }
}