.my__profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;

  transform: translateY(300%);

  z-index: 3;

  .id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 170px;
    background-color: $color-dark-blue;
  }

  .initials {
    margin: 0 0 15px;
    padding: 30px 27px;

    background-color: $color-white;

    @include inter (20px, 400, 20px);
    color: $color-brown;
  }

  .name {
    margin: 0;
    padding: 5px;

    background-color: $color-white;

    @include inter (20px, 400, 20px);
    text-align: center;
  }

  .my__profile__name {
    max-width: 156px;
    box-sizing: border-box;
  }

  .info {
    position: relative;

    width: 430px;

    padding: 30px 20px 40px;
    box-sizing: border-box;
    background-color: $color-white;
  }

  .profile__title {
    margin: 0 0 30px;

    @include forum (40px, 400, 40px);
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  .items {
    display: flex;
    gap: 20px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;

    gap: 10px;
  }

  .item__name {
    margin: 0;

    @include inter (20px, 400, 20px);
    letter-spacing: 0.4px;
  }

  .count {
    margin: 0;

    @include inter (10px, 400, 20px);
    letter-spacing: 0.2px;
  }

  .rented {
    margin: 0 0 30px;

    @include inter (25px, 400, 20px);
  }

  .list {
    margin: 0 0 40px;
  }

  .books__item {
    margin: 0 0 10px;

    @include inter (20px, 400, 20px);
    letter-spacing: 2px;

    &:last-child {
      margin: 0;
    }
  }

  .card {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .headline {
    margin: 0;

    @include inter (20px, 400, 20px);
  }

  .card__number {
    margin: 0;

    @include inter (20px, 400, 20px);
    color: $color-brown;

    cursor: pointer;
  }

  .copy {
    cursor: pointer;
  }
}

.modal__active {
  transform: translate(-50%, -50%);
}