.header__wrapper {
  position: relative;
}

.auth__modal {
  position: absolute;

  top: 50px;
  right: 0;

  padding: 5px 10px 20px;

  text-align: center;

  background-color: $color-white;

  opacity: 0;
  transition: 0.3s ease;
  pointer-events: none;

  z-index: 1;

  .title {
    position: relative;

    margin: 0 0 15px;
    padding-bottom: 5px;

    @include inter (15px, 700, 20px);
    letter-spacing: 1px;

    cursor: pointer;

    &::after {
      content: "";
      position: absolute;

      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 40px;
      height: 1px;

      background-color: $color-brown;
    }
  }

  .title__card__number {
    letter-spacing: 0.5px;
    font-size: 13px;
  }

  .info {
    display: block;
    margin: auto;
    padding: 0;

    background-color: transparent;
    border: none;

    @include inter (15px, 400, 20px);

    cursor: pointer;

    &:nth-child(1) {
      margin-bottom: 10px;
    }
  }
}