/* delius-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Delius";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/delius-v19-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background: url("./assets/background.jpg") no-repeat;
  background-size: cover;
}

canvas {
  display: block;
  margin: auto;
}

.start__img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.level__change {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  border: 3px solid green;
  background-color: #4a752d;
  font: 24px/24px "Delius";
  color: white;
}

.level__change__hide {
  opacity: 0;
  pointer-events: none;
}

.title {
  margin: 0;
}

.label {
  cursor: pointer;
}

.level__name {
  font: 22px/22px "Delius";
  margin: 0;
}

.input {
  display: none;
}

.fake {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
.fake:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.5px;
  height: 7.5px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s ease;
}

.input:checked + .fake:before {
  opacity: 1;
}

.start {
  width: 200px;
  font-weight: bold;
}

.lose {
  position: absolute;
  top: 50%;
  left: 50%;
  flex: 1 1 auto;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  width: 170px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  border: 3px solid green;
  background-color: #4a752d;
  font: 24px/24px "Delius";
  color: white;
  opacity: 0;
  pointer-events: none;
}

.lose__active {
  opacity: 1;
  pointer-events: all;
}

.text {
  margin: 0 0 15px;
}

.results__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.score__conteiner,
.trophy__container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.trophy,
.score__pic {
  background-size: 45px 45px;
  width: 45px;
  height: 45px;
}

.button {
  padding: 15px;
  background-color: #a9d751;
  border: none;
  border-radius: 10px;
  font: 22px/22px "Delius";
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}
.button:hover {
  transform: scale(1.1);
}

.footer {
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  font-family: "Delius";
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

.footer__item {
  margin: 0;
  font-size: 25px;
  line-height: 27px;
  letter-spacing: 2px;
  color: #FFF;
}

.github:hover {
  font-weight: bold;
}

.school__link {
  line-height: 0;
}

.footer__logo {
  width: 90px;
  height: 45px;
  margin: 10px 0;
  padding: 0 5px;
  background: hsla(0, 0%, 100%, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 3px;
}/*# sourceMappingURL=index.css.map */