canvas {
  display: block;
  margin: auto;
}

.lose {
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  width: 170px;
  height: fit-content;
  border-radius: 20px;
  border: 3px solid green;
  background-color: #4a752d;
  font: 22px / 22px 'Arial';
  color: white;
  // opacity: 0;
}

.lose__active {
  opacity: 1;
}

.text {
  margin: 0 0 15px;
}

.results__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.score__conteiner,
.trophy__container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.trophy,
.score__pic {
  background-size: 45px 45px;
  width: 45px;
  height: 45px;
}

.button {
  padding: 10px;
  background-color: #a9d751;
  border: none;
  border-radius: 10px;
  font: 20px / 20px 'Arial';
  color: white;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}