@import '../../common/sass/normalize.scss';
// @import '../../common/sass/fonts.scss';
// @import '../../common/sass/colors.scss';
/* forum-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('../../common/fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../../common/fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../../common/fonts/inter-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@mixin forum ($fs, $fw, $lh) {
  font-family: 'Forum', sans-serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin inter ($fs, $fw, $lh) {
  font-family: 'Inter', sans-serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

$color-dark-blue: #0C0C0E;
$color-black: #000000;
$color-brown: #BB945F;
$color-white: #FFFFFF;
$color-grey: #8E8E8E;

.about {
  margin-bottom: 60px;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  text-align: center;

  padding: 0 20px;

  box-sizing: border-box;
}

.about__title {
  position: relative;

  margin: 0 0 41px;
  padding-bottom: 20px;

  @include forum (40px, 400, 40px);
  letter-spacing: 2px;

  &::after {
    content: "";
    position: absolute;

    width: 50px;
    height: 1px;

    background-color: $color-dark-blue;

    bottom: 0;
    left: 50%;

    transform: translateX(-50%)
  }
}

.about__subtitle {
  @include inter (20px, 400, 40px);

  margin: 0 0 20px;
}

.slick-track {
  display: flex;
  gap: 25px;
}

.slick-list {
  overflow: hidden;
}

.slider__pic {
  padding-bottom: 40px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.slick-dots li {
  list-style: none;

  width: 26px;
  height: 26px;

  cursor: pointer;
}

.slick-dots button {
  font-size: 0;

  width: 16px;
  height: 16px;

  border-radius: 50%;
  border: none;

  background-color: $color-dark-blue;

  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: $color-brown;
}